<div class="container">
    <div class="container text-center" style="margin: 30px">
        <h3>Sistema de Empleados</h3>
    </div>
    <table class="table table-striped table-hover align-middle">
  <thead class="table-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nombre</th>
      <th scope="col">RUT</th>
      <th scope="col">Edad</th>
      <th scope="col">Email</th>
      <th scope="col">Sueldo</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <!-- Uso de *ngFor para iterar sobre la lista de empleados -->
    <tr *ngFor="let employee of employees">
      <th scope="row">{{employee.id}}</th>
      <td>{{employee.name}}</td>
      <td>{{employee.rut}}</td>
      <td>{{employee.age}}</td>
      <td>{{employee.email}}</td>
      <td>{{employee.salary}}</td>
      <td class="text-center">
        <div>
            <button (click)="editEmployee(employee.id)" class="btn btn-warning btn-sm me-3">Editar</button>
            <button (click)="deleteEmployee(employee.id)" class="btn btn-danger btn-sm">Eliminar</button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
</div>